/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
  // Primary colors
  --dark-violet: #3f2a56;
  --gray: #4c4c4e;
  --light-gray: #f6f7fb;
  --blue: #5cbedc;
  --yellow-green: #91c73d;
  --white: #ffffff;
  --red: #eb5757;
  --orange: #f2994a;
  // Accents colors
  --green: #38b449;
  --violet: #830065;
  --teal: #006a8e;
  // Secondary colors
  --secondary-dark-violet: #9f94aa;
  --secondary-gray: #939597;
  --secondary-yellow-green: #dfe89a;
  --secondary-blue: #a8dde9;
  --secondary-violet: #c17fb2;
  --secondary-green: #9bd9a4;
  --secondary-teal: #7fb4c6;
}

$borderColor: rgba(#4c4c4e, 0.1);
$borderHoverColor: rgba(#5cbedc, 0.4);
$borderRadius: 4px;
$inputFontSize: 14px;
$inputBorder: 1px solid $borderColor;
$inputBackground: rgba(#5cbedc, 0.05);

$fieldMargin: 16px;
$fieldLabelMargin: 6px;

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 24px;
  box-sizing: border-box;
  background: #f6f7fb;
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  color: var(--gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--blue);

  &:hover {
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: var(--dark-violet);
}

h2 {
  font-size: 21px;
  line-height: 32px;
  font-weight: 700;
  color: var(--dark-violet);
}

h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

caption,
.caption {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--gray);
}

small {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
}

p {
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

.table-head-typo {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: var(--dark-violet);
}

.table-cell-typo {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--dark-violet);
}

.p-component {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.p-button {
  background: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 8px 16px;

  &:enabled:hover {
    background: darken(#5cbedc, 10%);
    border-color: darken(#5cbedc, 10%);
  }

  &:enabled:active {
    background: darken(#5cbedc, 20%);
    border-color: darken(#5cbedc, 20%);
  }
}

.p-button.p-button-link {
  color: var(--blue);

  &:enabled:hover {
    color: var(--blue);
  }
}

.p-button.p-button-lg {
  font-size: 16px;
  line-height: 24px;
  padding: 16px 20px;
}

.p-button.p-button-sm {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding: 2px 10px;
}

.p-button.p-button-secondary {
  background: var(--green);
  border: 1px solid var(--green);
  color: var(--white);

  &:enabled:hover {
    background: darken(#38b449, 10%);
    border-color: darken(#38b449, 10%);
  }

  &:enabled:active {
    background: darken(#38b449, 20%);
    border-color: darken(#38b449, 20%);
  }
}

.p-button.p-button-delete {
  background: var(--red);
  border: 1px solid var(--red);
  color: var(--white);

  &:enabled:hover {
    background: darken(#eb5757, 10%);
    border-color: darken(#eb5757, 10%);
  }

  &:enabled:active {
    background: darken(#eb5757, 20%);
    border-color: darken(#eb5757, 20%);
  }
}

.p-button.p-button-disabled {
  background: var(--gray);
  border: 1px solid var(--gray);
  color: var(--white);
}

.p-button.p-button-outlined {
  color: var(--blue);
  background: transparent;

  &:enabled:hover {
    background: rgba(#5cbedc, 0.1);
    border-color: var(--blue);
    color: var(--blue);
  }

  &:enabled:active {
    background: rgba(#5cbedc, 0.2);
    border-color: var(--blue);
    color: var(--blue);
  }
}

.p-button.p-button-outlined.p-button-secondary {
  color: var(--green);

  &:enabled:hover {
    background: rgba(#38b449, 0.1);
    border-color: var(--green);
    color: var(--green);
  }

  &:enabled:active {
    background: rgba(#38b449, 0.2);
    border-color: var(--green);
    color: var(--green);
  }
}

.p-button.p-button-outlined.p-button-delete {
  color: var(--red);

  &.p-button.p-button-disabled {
    color: #828282;
    border-color: #828282;
  }

  &:enabled:hover {
    background: rgba(#eb5757, 0.1);
    border-color: var(--red);
    color: var(--red);
  }

  &:enabled:active {
    background: rgba(#eb5757, 0.2);
    border-color: var(--red);
    color: var(--red);
  }
}

select {
  color: var(--gray);
  background: $inputBackground;
  border: $inputBorder;
  border-radius: $borderRadius;
  font-family: 'Open Sans', sans-serif;

  &:enabled:hover,
  &:focus {
    border-color: $borderHoverColor;
  }
}

// .ng-invalid.ng-touched .p-calendar-w-btn .p-inputtext {
//   border-color: #DE4949;
//   background-color: rgba(#E6E6E6, 0.1);
// }

.p-inputtext {
  color: var(--gray);
  background: $inputBackground;
  border: $inputBorder;
  border-radius: $borderRadius;
  font-size: 14px;
  line-height: 22px;
  padding: 9px 20px;

  &:enabled:hover,
  &:enabled:focus {
    border-color: $borderHoverColor;
  }

  &.ng-dirty.ng-invalid {
    border-color: #de4949;
    background-color: rgba(#e6e6e6, 0.1);
  }

  &:disabled {
    opacity: 0.4;
    background-color: rgba(#e6e6e6, 0.1);
    border-color: rgba(#4c4c4e, 0.5);
  }
}

.p-inputtext.p-inputtext-sm {
  font-size: 12px;
  line-height: 16px;
  padding: 7px 20px;

  &+.p-autocomplete-dropdown>.p-button-icon.pi-search {
    font-size: 14px;
  }
}

.p-checkbox {
  .p-checkbox-box {
    border: 2px solid rgba(76, 76, 78, 0.25);

    &.p-highlight {
      border-color: var(--blue);
      background: var(--blue);
    }
  }
}

.p-checkbox:not(.p-checkbox-disabled) {
  .p-checkbox-box.p-focus {
    box-shadow: none;
    border-color: rgba(#5cbedc, 0.1);
  }

  .p-checkbox-box:hover,
  .p-checkbox-box.p-focus:hover {
    border-color: $borderHoverColor;
  }

  .p-checkbox-box.p-highlight:hover {
    background: darken(#5cbedc, 10%);
    border-color: darken(#5cbedc, 10%);
  }
}

.p-radiobutton {
  .p-radiobutton-box {
    border-color: $borderColor;
    background: #fff;

    &.p-highlight {
      border-color: var(--blue);
      background: var(--blue);
    }
  }

  .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: var(--blue);
  }

  .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    background: darken(#5cbedc, 10%);
    border-color: darken(#5cbedc, 10%);
  }
}

.p-dropdown {
  color: var(--gray);
  background: $inputBackground;
  border: $inputBorder;
  border-radius: $borderRadius;
  font-size: 14px;
  line-height: 22px;

  .p-dropdown-trigger {
    margin-right: 0;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  .p-dropdown-trigger-icon {
    font-size: 12px;
    color: #5a5c72;
  }

  .p-dropdown-clear-icon {
    color: var(--gray);
    right: 45px;
    font-size: 11px;
    top: 22px;
  }

  &:not(.p-disabled):hover {
    border-color: $borderHoverColor;
  }

  &:not(.p-disabled).p-focus {
    border: $inputBorder;
  }

  &.p-disabled {
    opacity: 0.4;
    background-color: rgba(#e6e6e6, 0.1);
    border-color: rgba(#4c4c4e, 0.5);
  }
}

p-dropdown.ng-dirty.ng-invalid>.p-dropdown {
  border-color: #de4949;
  background-color: rgba(#e6e6e6, 0.1);
}

.p-dropdown-panel {
  border-radius: 4px;
  box-shadow:
    0 2px 4px -1px rgb(92 190 220 / 20%),
    0 4px 5px 0 rgb(92 190 220 / 14%),
    0 1px 10px 0 rgb(92 190 220 / 12%);
  // box-shadow: 0px 22.3px 17.8px rgba(92, 190, 220, 0.06), 0px 12.5px 10.02px rgba(92, 190, 220, 0.055), 0px 6.6px 5.3px rgba(92, 190, 220, 0.05), 0px 2.8px 2.2px rgba(92, 190, 220, 0.04);

  .p-dropdown-header {
    background: transparent;
    border-bottom: $inputBorder;

    .p-dropdown-filter {
      padding: 4px 22px;
    }

    .p-dropdown-filter-icon {
      font-size: 14px;
      margin-top: -7px;
    }
  }

  & .p-dropdown-items .p-dropdown-item {
    color: var(--gray);
    opacity: 0.8;

    &:not(.p-highlight):not(.p-disabled):hover,
    &.p-highlight {
      color: var(--gray);
      opacity: 1;
      background: rgba(#5cbedc, 0.2);
    }
  }
}

.p-multiselect {
  color: var(--gray);
  background: $inputBackground;
  border: $inputBorder;
  border-radius: $borderRadius;
  font-size: 14px;
  line-height: 22px;

  .p-multiselect-label {
    padding: 9px 0 9px 20px;
  }

  .p-multiselect-trigger {
    color: #5a5c72;
    opacity: 0.8;

    .pi-chevron-down {
      font-size: 12px;
    }

    &:hover {
      opacity: 1;
    }
  }

  &:not(.p-disabled):hover {
    border-color: $borderHoverColor;
  }

  &:not(.p-disabled).p-focus {
    border: $inputBorder;
  }

  &.p-disabled {
    opacity: 0.4;
    background-color: rgba(#e6e6e6, 0.1);
    border-color: rgba(#4c4c4e, 0.5);
  }
}

.p-multiselect-panel {
  box-shadow:
    0 2px 4px -1px rgb(92 190 220 / 20%),
    0 4px 5px 0 rgb(92 190 220 / 14%),
    0 1px 10px 0 rgb(92 190 220 / 12%);

  .p-multiselect-items .p-multiselect-item {
    color: var(--gray);
    opacity: 0.8;
    display: flex;
    align-items: center;

    .p-checkbox {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }

    .p-checkbox-box {
      width: 15px;
      height: 15px;

      .p-checkbox-icon {
        font-size: 12px;
      }
    }

    &:not(.p-highlight):not(.p-disabled):hover,
    &.p-highlight {
      color: var(--gray);
      opacity: 1;
      background: rgba(#5cbedc, 0.2);
    }
  }
}

.p-field {
  margin-bottom: 16px;

  &>label {
    margin-bottom: 6px;
  }
}

.p-field-checkbox {
  &>label {
    line-height: 24px;
  }
}

.p-error {
  color: #de4949;
}

.p-menu {
  &.p-menu.p-menu-overlay {
    box-shadow:
      0 2px 4px -1px rgb(92 190 220 / 20%),
      0 4px 5px 0 rgb(92 190 220 / 14%),
      0 1px 10px 0 rgb(92 190 220 / 12%);
    // box-shadow: 0px 22.3px 17.8px rgba(92, 190, 220, 0.04), 0px 12.5px 10px rgba(92, 190, 220, 0.035), 0px 6.6px 5.3px rgba(92, 190, 220, 0.03), 0px 2.8px 2.2px rgba(92, 190, 220, 0.02);
  }

  .p-menuitem-link {
    color: var(--gray);
    opacity: 0.8;

    &:not(.p-disabled):hover,
    &.p-menuitem-link-active {
      background: rgba(#5cbedc, 0.2);
      color: var(--gray);
      opacity: 1;
    }
  }
}

.p-sidebar {
  box-shadow: 0px 3px 10px rgb(0 0 0 / 15%);
}

.p-sidebar-mask.p-component-overlay {
  background: var(--blue);
  opacity: 0.4;
}

.p-button:focus,
.p-inputtext:enabled:focus,
.p-menu .p-menuitem-link:focus,
.p-panelmenu .p-panelmenu-header>a:focus,
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus,
.p-button.p-button-secondary:enabled:focus,
.p-button.p-button-link:enabled:focus,
.p-dropdown:not(.p-disabled).p-focus,
.p-panel .p-panel-header .p-panel-header-icon:focus,
.p-datatable .p-sortable-column:focus,
.p-toast .p-toast-message .p-toast-icon-close:focus,
.p-inputswitch.p-focus .p-inputswitch-slider,
.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):focus,
.p-multiselect:not(.p-disabled).p-focus,
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus,
.p-datepicker .p-datepicker-header .p-datepicker-prev:focus,
.p-datepicker .p-datepicker-header .p-datepicker-next:focus,
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus,
.p-dialog .p-dialog-header .p-dialog-header-icon:focus,
.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus,
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus,
.p-sidebar .p-sidebar-header .p-sidebar-close:focus,
.p-sidebar .p-sidebar-header .p-sidebar-icon:focus {
  box-shadow: none;
}

.p-sidebar-right {
  padding-top: 0;

  .p-sidebar-header {
    padding: 0;

    &+.p-sidebar-content {
      padding-top: 16px;
    }
  }

  .p-sidebar-header .p-sidebar-close {
    position: absolute;
    top: 24px;
    right: 12px;
    z-index: 1;
    background: #f5f7f7;
    border-radius: 14px;

    .p-sidebar-close-icon {
      font-size: 12px;
    }
  }

  .p-sidebar-content {
    padding-left: 20px;
    padding-right: 20px;

    .sidebar-title-section {
      padding: 8px 30px 24px 0;

      h2 {
        padding: 0;
      }

      .p-button {
        width: auto;
      }
    }

    h2 {
      padding: 8px 0px 24px;
    }

    .p-inputtext {
      width: 100%;
    }

    div:not(.sidebar-title-section) .p-button:not(.p-autocomplete-dropdown):not(.p-datepicker-trigger) {
      width: 50%;
    }
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    font-size: 16px;
    color: #24252e;
    line-height: 24px;
    font-weight: 400;
    padding: 20px 40px;
  }
}

.page-padding {
  padding: 0 5px 5px;

  .page-title-padding {
    padding: 14px 20px 14px 15px;
    min-height: 72px;
  }

  .page-subtitle-padding {
    padding: 14px 20px 14px 15px;
    min-height: 48px;
  }
}

.flex-grow-1 {
  flex-grow: 1;
  flex-basis: auto;
}

.table-control-caption {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(#3f2a56, 0.6);
}

.table-control-label {
  color: var(--dark-violet);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.p-panel {
  .p-panel-header {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  .p-panel-content {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

.p-datatable {
  font-size: 12px;
  line-height: 16px;

  .p-datatable-header {
    background: #fff;
    padding: 15px 30px 10px 45px;
    border-top: none;
    color: var(--dark-violet);

    >.p-grid {
      margin-top: 0;
    }

    .count-label {
      height: 16px;
      min-width: 24px;
      padding: 0 5px;
      background-color: var(--blue);
      background: rgba(#5cbedc, 0.25);
      text-align: center;
      border-radius: 4px;
      color: initial;
    }

    .p-inputtext {
      font-size: 12px;
      line-height: 16px;
      padding: 7px 20px;
      height: 32px;
    }

    .p-multiselect .p-multiselect-label {
      padding: 7px 5px 7px 20px;
      font-size: 12px;
      line-height: 16px;
    }

    .search-input {
      width: 100%;
    }

    label {
      @extend .table-control-caption;
      user-select: none;
    }

    span {
      user-select: none;
    }

    p-dropdown .p-dropdown {
      border: none !important;
      background: none;

      .p-dropdown-trigger {
        height: 30px;
      }

      &>span.p-dropdown-label {
        @extend .table-control-caption;
        color: var(--dark-violet);
        padding-left: 0;
        padding-right: 0;
        height: 30px;
      }

      p-dropdownItem {
        @extend .table-control-caption;
        color: initial;
      }
    }
  }

  .p-datatable-thead {
    &>tr>th {
      background: #fff;
      padding: 10px 10px;
      color: rgba(#4c4c4c, 0.6);
      font-weight: 400;

      &:first-child {
        padding-left: 45px;
      }

      &:last-child {
        padding-right: 30px;
      }

      &.checkbox-cell {
        padding: 10px 5px 10px 15px;
        width: 35px;
      }
    }

    tr:first-child th:first-child {
      border-radius: 4px 4px 0 0;
    }

    .sort-cell {
      display: flex;
      align-items: center;
    }
  }

  .p-datatable-tbody {
    tr {
      outline: none;

      &.p-highlight {
        background: rgba(#5cbedc, 0.2);
      }

      &.row-error {
        background: rgba(#eb5757, 0.1);
      }

      &.row-warn {
        background: rgba(#f2994a, 0.1);
      }
    }

    &>tr>td {
      padding: 10px 10px;
      color: var(--gray);
      overflow: hidden;
      text-overflow: ellipsis;

      &:first-child {
        padding-left: 45px;
      }

      &:last-child {
        padding-right: 30px;
      }

      &.checkbox-cell {
        padding: 10px 5px 10px 15px;
        width: 35px;
      }
    }
  }

  &.p-datatable-hoverable-rows .p-datatable-tbody>tr {
    &:not(.p-highlight):hover {
      background: rgba(#5cbedc, 0.2);
    }

    &:not(.p-highlight).row-error:hover {
      background: rgba(#eb5757, 0.2);
    }

    &:not(.p-highlight).row-warn:hover {
      background: rgba(#f2994a, 0.2);
    }

    &.p-highlight:hover {
      background: rgba(#5cbedc, 0.3);
    }

    &.p-highlight.row-error:hover {
      background: rgba(#eb5757, 0.3);
    }

    &.p-highlight.row-warn:hover {
      background: rgba(#f2994a, 0.3);
    }
  }

  .p-sortable-column {
    .p-sortable-column-icon {
      font-size: 12px;
      color: rgba(#4c4c4c, 0.6);
    }

    &.p-highlight {
      background: #fff;
      color: var(--blue);

      .p-sortable-column-icon {
        color: var(--blue);
      }
    }

    &:not(.p-highlight):hover {
      background: rgba(#5cbedc, 0.1);
      color: rgba(#4c4c4c, 0.6);

      .p-sortable-column-icon {
        color: rgba(#4c4c4c, 0.6);
      }
    }

    &.p-highlight:hover {
      background: rgba(#5cbedc, 0.1);
      color: var(--blue);

      .p-sortable-column-icon {
        color: var(--blue);
      }
    }
  }

  .p-editable-column {
    .p-inputtext-sm {
      padding: 4px 8px;
    }
  }

  .checkbox-cell {

    .p-checkbox,
    .p-checkbox-box {
      width: 15px;
      height: 15px;
    }

    .p-checkbox-icon {
      font-size: 12px;
    }
  }

  .p-radiobutton {
    width: 15px;
    height: 15px;

    .p-radiobutton-box {
      width: 15px;
      height: 15px;

      .p-radiobutton-icon {
        width: 9px;
        height: 9px;
      }
    }
  }

  .status {
    label {
      min-width: 80px;
      line-height: 20px;
      text-align: center;
      border-radius: 4px;
    }

    .green-status {
      background-color: rgba(#91c73d, 0.1);
      color: var(--green);
    }

    .blue-status {
      background-color: rgba(#5cbedc, 0.1);
      color: var(--blue);
    }

    .red-status {
      background-color: rgba(#eb5757, 0.1);
      color: var(--red);
    }

    .gray-status {
      background-color: rgba(#828282, 0.1);
      color: var(--gray);
    }

    .orange-status {
      background-color: rgba(#f2994a, 0.1);
      color: var(--orange);
    }

    .dark-status {
      background-color: rgba(#3f2a56, 0.2);
      color: var(--dark-violet);
    }

    .teal-status {
      background-color: rgba(#006a8e, 0.1);
      color: var(--teal);
    }
  }

  .actions {
    .p-button.p-button-sm {
      font-size: 12px;
      line-height: 16px;
      padding: 1px 14px;
      height: 20px;
    }

    .p-button.p-button-icon-only {
      font-size: 16px;
      height: 20px;
      width: 20px;
      padding: 0;
      color: var(--dark-violet);
      opacity: 0.6;

      &:hover {
        background: none;
        opacity: 1;
      }
    }
  }

  &.p-table-sm {
    border-top: 1px solid rgba(#4c4c4e, 0.2);

    .p-datatable-thead>tr>th:first-child {
      padding-left: 15px;
    }

    .p-datatable-thead>tr>th:last-child {
      padding-right: 15px;
    }

    .p-datatable-tbody>tr>td:first-child {
      padding-left: 15px;
    }

    .p-datatable-tbody>tr>td:last-child {
      padding-right: 15px;
    }

    .p-datatable-header {
      padding: 10px 15px;
    }
  }
}

.p-calendar-w-btn {
  .p-inputtext {
    padding-right: 50px;
    border-radius: 4px !important;
  }

  .p-datepicker-trigger {
    background: transparent;
    position: absolute;
    right: 1px;
    top: 1px;
    height: 40px;
    width: 40px;
    font-size: 16px;
    color: #5a5c72;
    border: none;
    opacity: 0.8;
    padding-right: 6px;

    &:enabled:hover,
    &:enabled:active {
      color: #5a5c72;
      border: none;
      background: transparent;
      opacity: 1;
    }

    &:disabled {
      opacity: 0.4;
    }

    .p-button-icon {
      font-size: 16px;
    }
  }
}

.p-tabview .p-tabview-nav {

  li.p-highlight .p-tabview-nav-link,
  li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    border-color: var(--blue);
  }
}

.p-datepicker {
  padding: 15px 20px;

  table {
    margin: 0;
  }

  .p-datepicker-header {
    border-bottom: none;

    .p-datepicker-title select,
    .p-datepicker-title .p-datepicker-month {
      font-size: 12px;
      height: 28px;
      padding: 0 4px 0 8px;
    }
  }

  .p-datepicker-title {
    font-size: 16px;
    font-weight: 700;
    color: var(--dark-violet);
    user-select: none;
  }

  table th>span {
    width: 44px;
    font-size: 12px;
    line-height: 24px;
    color: var(--blue);
    font-weight: 400;
    text-transform: uppercase;
    user-select: none;
  }

  table td {
    padding: 8px 1px;

    &>span {
      color: var(--gray);
      font-size: 16px;
      height: 32px;
      width: 44px;
      user-select: none;
    }

    &>span.p-highlight {
      background: rgba(#5cbedc, 0.2);
      border-radius: 3px;
      color: var(--gray);
      font-size: 16px;
    }

    &.p-datepicker-today>span {
      border-radius: 3px;
      color: var(--gray);
      font-weight: 700;
      background: none;

      &.p-highlight {
        background: rgba(#5cbedc, 0.2);
        color: var(--gray);
      }
    }

    &.p-datepicker-other-month>span:not(.p-highlight).p-disabled {
      color: var(--blue);
      opacity: 0.4;
    }
  }

  &:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
    border-radius: 3px;
    background: #5cbedc;
    color: #fff;
  }
}

.p-autocomplete-dd {
  .p-autocomplete-dropdown {
    padding: 0;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  .p-autocomplete-panel {
    box-shadow:
      0 2px 4px -1px rgb(92 190 220 / 20%),
      0 4px 5px 0 rgb(92 190 220 / 14%),
      0 1px 10px 0 rgb(92 190 220 / 12%);
    border-radius: 4px;
    // box-shadow: 0px 22.3px 17.8px rgba(92, 190, 220, 0.06), 0px 12.5px 10.02px rgba(92, 190, 220, 0.055), 0px 6.6px 5.3px rgba(92, 190, 220, 0.05), 0px 2.8px 2.2px rgba(92, 190, 220, 0.04);
  }

  .p-autocomplete-input {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
  }

  .p-autocomplete-dropdown.p-button-icon-only {
    position: absolute;
    top: 1px;
    right: 7px;
    bottom: 1px;
    background: transparent;
    border: none;

    .p-button-icon {
      color: #5a5c72;
    }

    .pi-chevron-down {
      font-size: 11px;
    }

    .pi-search {
      font-size: 15px;
    }

    &.p-component:disabled {
      opacity: 0.4;
    }
  }
}

.w-100 {
  width: 100%;
}

.app-clickable {
  cursor: pointer;
}

#atlwdg-trigger {
  display: none;
}

.p-button-calendar.p-calendar {
  &>input {
    display: none !important;
  }

  &>button {
    width: initial !important;
    position: relative;
  }
}

.p-calendar .p-datepicker {
  min-width: 355px !important;
}

.p-component-overlay {
  background-color: rgba(#5cbedc, 0.1);
}

.progress-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(#5cbedc, 0.1);
  text-align: center;
  z-index: 5;

  .ui-progress-spinner {
    top: 32px;
  }
}

.progress-spinner .p-progress-spinner {
  height: 40px;
  width: 40px;
}

.p-accordion {

  .p-accordion-header .p-accordion-header-link,
  .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
    background: rgba(#5cbedc, 0.1);
    border-color: #e0e0e0;
    color: var(--dark-violet);

    .p-accordion-header-text {
      opacity: 0.6;
    }
  }

  .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
    background: rgba(#5cbedc, 0.2);
    border-color: #e0e0e0;
    color: var(--dark-violet);
  }

  .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    background: #ffffff;
    border-color: #e0e0e0;
    border-bottom-color: #ffffff;
    color: var(--dark-violet);
  }
}

.p-toast .p-toast-message {
  .p-toast-message-content {
    padding: 12px 12px;
  }

  .p-toast-icon-close {
    height: 26px;
    width: 26px;
    min-width: 26px;
  }
}

.p-inputswitch {
  .p-inputswitch-slider {
    background: #fff;
    border: 1px solid rgba(#5cbedc, 0.4);

    &:before {
      background: var(--blue);
    }
  }

  &:not(.p-disabled):hover .p-inputswitch-slider {
    background: rgba(#5cbedc, 0.2);
  }

  &.p-inputswitch-checked {
    .p-inputswitch-slider {
      background: rgba(#5cbedc, 0.4);

      &:before {
        background: var(--blue);
      }
    }

    &:not(.p-disabled):hover .p-inputswitch-slider {
      background: rgba(#5cbedc, 0.5);
    }
  }

  &.p-inputswitch-sm {
    width: 40px;
    height: 20px;

    .p-inputswitch-slider:before {
      width: 12px;
      height: 12px;
      left: 3px;
      margin-top: -6px;
    }

    &.p-inputswitch-checked .p-inputswitch-slider:before {
      transform: translateX(20px);
    }
  }
}

.p-chip {
  border: 1px solid var(--blue);
  background: none;
  padding: 5px 10px;
  border-radius: 3px;

  .p-chip-text {
    color: var(--blue);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  .pi-chip-remove-icon {
    color: #e0e0e0;
    line-height: 16px;
    font-size: 12px;
  }
}

.page-nav-buttons.p-buttonset {
  display: flex;

  .p-button {
    margin: 0 3px;
    flex-grow: 1;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #fff;
    color: var(--dark-violet);
    opacity: 0.6;

    &:not(:last-child) {
      border-right: 1px solid #fff;
    }

    &.p-highlight {
      background: var(--blue);
      border: 1px solid var(--blue);
      color: var(--white);

      &:not(:last-child) {
        border-right: 1px solid var(--blue);
      }
    }

    &:not(.p-disabled):not(.p-highlight):hover {
      border: 1px solid var(--blue);
      color: var(--blue);
      background: rgba(#5cbedc, 0.1);

      &:not(:last-child) {
        border-right: 1px solid var(--blue);
      }
    }

    &:first-of-type {
      border-radius: 3px;
      margin-left: 0;
    }

    &:last-of-type {
      border-radius: 3px;
      margin-right: 0;
    }
  }
}

.title-nav-buttons.p-buttonset {
  background: rgba(#5cbedc, 0.2);
  border-radius: 8px;
  border: 1px solid #fff;

  .p-button {
    margin: 4px;
    border-radius: 4px;
    padding: 6px 24px;
    background: transparent;
    border: none;
    color: var(--blue);

    &.p-highlight {
      background: #fff;
      color: var(--dark-violet);
      border: none;
    }

    &:not(.p-disabled):not(.p-highlight):hover {
      border: none;
      background: rgba(#fff, 0.75);
    }

    &:first-of-type {
      margin-right: 2px;
    }

    &:last-of-type {
      margin-left: 2px;
    }

    &:first-of-type,
    &:last-of-type {
      border-radius: 4px;
    }
  }
}

.verify-dialog {
  .p-dialog-header {
    justify-content: end;
  }

  .p-dialog-content {
    padding: 0 40px 60px;
  }
}

.p-toast-detail {
  white-space: pre-wrap;
}

.p-progressbar .p-progressbar-value {
  background: var(--blue);
}

.p-sidebar .p-sidebar-footer {
  padding: 0;
  margin: 0;
}

.user-facility-dropdown.p-dropdown-panel {
  .p-dropdown-items .p-dropdown-item-group {
    padding: 0;

    &>div {
      padding: 0.75rem 1rem;
    }
  }

  .p-dropdown-items .p-dropdown-item {
    padding: 0;

    &>div {
      padding: 0.5rem 1rem;
    }
  }
}